extends layout 

block content 
    h1  #{user.username}
    h2 #{user.username}'s Shorts
    each short in shorts
            div= short.title 
                a(href=`/shorts/${short.id}`) Go to short's page
                if locals.authenticated
                    if short.userId === userId 
                        button.delete(id=`${short.id}`) Delete
    div 
        a(href='/') Back to Home!
    div 
        a(href='/shorts/create') Create a short!