extends layout

block content
    link(rel='stylesheet' href='/stylesheets/profile-page.css')
    h1  #{profileUser.username}'s Profile
    p#followers Followers: #{followers}
    p#followings Follows: #{followings}
    if locals.authenticated
        if userId !== profileUser.id
            if !follow
                button(class=`follow ${profileUser.id}`) Follow
                p#youFollow(hidden) You follow #{profileUser.username}!
                button(class=`deleteFollow ${profileUser.id}` hidden) Unfollow
            else
                button(class=`follow ${profileUser.id}` hidden) Follow
                p#youFollow You follow #{profileUser.username}!
                button(class=`deleteFollow ${profileUser.id}`) Unfollow
    h2 #{profileUser.username} Shorts:
    each short in shorts
            div= short.title
                a(href=`/shorts/${short.id}`)  View Short
                if locals.authenticated
                    if short.userId === userId
                        button.delete(id=`${short.id}`) Delete
    div
        a(href='/') Back to Home!
    if locals.authenticated
        div
            a(href='/shorts/create') Create a short!
