extends layout
append head
    link(rel='stylesheet' href='/stylesheets/profile-page.css')
block content
    div#buffer
    div.profile-page
        div.details-container
            h1#user-name-title #{profileUser.username}
                p#followers Followers: #{followers}
                p#followings Follows: #{followings}
                if locals.authenticated
                    if userId !== profileUser.id
                        if !follow
                            button(class=`follow ${profileUser.id}`) Follow
                            p#youFollow(hidden) You follow #{profileUser.username}!

                            button(class=`deleteFollow ${profileUser.id}` hidden) Unfollow
                        else
                            button(class=`follow ${profileUser.id}` hidden) Follow
                            p#youFollow You follow #{profileUser.username}!
                            button(class=`deleteFollow ${profileUser.id}`) Unfollow
        div.shorts-list-container
            if locals.authenticated
                if userId === profileUser.id
                    div.switcher
                        a(href="#")#feedButton Feed
                        a(href="#")#myShortButton My Shorts
            div#user-shorts-list.hidden
                h2#shorts-list-title #{profileUser.username}'s Shorts:
                each short in shorts
                    div.short-div
                        a#short-title(href=`/shorts/${short.id}`)= short.title
                            if locals.authenticated
                                if short.userId === userId
                                    button.delete(id=`${short.id}`) Delete
            div#feeds-shorts-list
                if locals.authenticated
                    if userId === profileUser.id
                        h2 Followed Shorts:
                        each short in followedShorts
                            div
                                h3= short.title
                                pre= short.User.username
                                p(style='overflow:hidden; text-overflow:ellipsis; max-width: 300px;')= short.content
