extends layout 

block content 
    h1  #{profileUser.username}
    p Followers: #{followers}
    p Follows: #{followings}
    if locals.authenticated
        if browserId !== profileUser.id
            if !follow
                form(action=`/profileUsers/${profileUser.id}/follows` method='post')
                    button Follow
            else 
                p You follow #{profileUser.username}!
                button(class=`deleteFollow ${profileUser.id}`) Unfollow
    h2 #{profileUser.username}'s Shorts
    each short in shorts
            div= short.title 
                a(href=`/shorts/${short.id}`) Go to short's page
                if locals.authenticated
                    if short.userId === userId 
                        button.delete(id=`${short.id}`) Delete
    div 
        a(href='/') Back to Home!
    if locals.authenticated
        div 
            a(href='/shorts/create') Create a short!