extends layout 

block content 
    h1  #{user.username}
    if locals.authenticated
        if browserId !== user.id
            if !follow
                form(action=`/users/${user.id}/follows` method='post')
                    button Follow
    h2 #{user.username}'s Shorts
    each short in shorts
            div= short.title 
                a(href=`/shorts/${short.id}`) Go to short's page
                if locals.authenticated
                    if short.userId === userId 
                        button.delete(id=`${short.id}`) Delete
    div 
        a(href='/') Back to Home!
    if locals.authenticated
        div 
            a(href='/shorts/create') Create a short!