extends layout.pug 

block content 
    h1= short.title
    p By: 
        a(href=`/users/${short.userId}`) #{username}
    div    
        p= short.content
    if locals.authenticated
        if short.userId === userId
            div 
                a(href=`/shorts/${short.id}/edit`) Edit the short
                button.delete-page(id=`${short.id}`) Delete
    div 
        a(href='/shorts') Back to Shorts!
    div 
        include comments