extends layout.pug

block content
    h1= short.title
    p By:
        a(href=`/users/${short.userId}`) #{username}
    div
        p= short.content
    if locals.authenticated
        if short.userId === userId
            div
                a(href=`/shorts/${short.id}/edit`) Edit the short
                button.delete-page(id=`${short.id}`) Delete
    div
        a(href='/shorts') Back to Shorts!
    div
        p#likeCount Likes: #{likes.length}
    div
        if locals.authenticated
            if !like
                button(class=`${short.id} likes`) Like
                button(class=`${short.id} deleteLikes` hidden) Unlike
            else
                button(class=`${short.id} likes` hidden) Like
                button(class=`${short.id} deleteLikes`) Unlike
    div
        if locals.authenticated
            include comments
