extends layout.pug

block content
    div.grid
        div.main-content
            h1= short.title
            p By:
                a(href=`/users/${short.userId}`) #{username}
            div
                p= short.content
            if locals.authenticated
                if short.userId === userId
                    div#edit-options
                        a(href=`/shorts/${short.id}/edit`) Edit the short
                        button.delete-page(id=`${short.id}`) Delete
        div.left-bar
            div#back-to-shorts
                a(href='/shorts') Back to Shorts!
            div
                p#likeCount Likes: #{likes.length}
            div
                if !like
                    button(class=`${short.id} likes`) Like
                    button(class=`${short.id} deleteLikes` hidden) Unlike
                else
                    button(class=`${short.id} likes` hidden) Like
                    button(class=`${short.id} deleteLikes`) Unlike
        div.right-bar
            if locals.authenticated
                include comments
    link(rel='stylesheet' href='/stylesheets/short-page.css')
