extends layout.pug

append head
    link(rel='stylesheet' href='/stylesheets/short-page.css')

block content
    div.grid
        div.main-content
            h1#short-title= short.title
            p#by-text By: 
                a#author-link(href=`/users/${short.userId}`) #{username}
            div
                p#content= short.content
            if locals.authenticated
                if short.userId === userId
                    div#edit-options
                        a(href=`/shorts/${short.id}/edit`): button#edit-short-button Edit
                        button.delete-page(id=`${short.id}`) Delete
        div.left-bar
            a(href='/shorts'): button#back-to-shorts-button Back to Shorts!
            div
                p#likeCount Likes: #{likes.length}
            if locals.authenticated
                div
                    if !like
                        button#like-button(class=`${short.id} likes`) Like
                        button#unlike-button(class=`${short.id} deleteLikes hidden`) Unlike
                    else
                        button#like-button(class=`${short.id} likes hidden`) Like
                        button#unlike-button(class=`${short.id} deleteLikes`) Unlike
        div.right-bar
            if locals.authenticated
                include comments
