mixin validationErrorSummary(errors)
  if errors
    div.errors
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text', placeholder=null)
  div
    if fieldType === 'textarea'
      label(for=fieldName)= labelText
      textarea(name=fieldName rows=5)= fieldValue
    else
      label(for=fieldName)= labelText
      input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder)

mixin getUsername(userId, users)
  each user in users
    if userId === user.id
      h3.author-title: a.author-links(href=`/users/${user.id}`)= user.username
